@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.9s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .btn{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    /* add burger menu according to the screen width */
    .burger{
        display: block;
    }
    /* height of navbar with burger menu icon */
    .h-nav-resp{
        height: 72px;
    }
    /* visibility class to hide all things insdie that in burger menu */
    .v-class-resp{
        opacity: 0;
        /* visibility: hidden; */
    }
    
}